* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: #D5CBCA;
}

.container div {
  width: 100vw;
  height: 70vh;
}

.nav {
  padding-top: 40px;
  padding-left: 50px;
  text-align: center;
}

.nav a {
  font-weight: 400;
  color: #32174D;
  font-size: 20px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.nav a:link {
  text-decoration:none;
}

.nav2 {
  padding-top: 40px;
  text-align: center;
}

.nav2 a {
  font-weight: 400;
  color: #32174D;
  font-size: 20px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.nav2 a:link {
  text-decoration:none;
}

.nav3 {
  padding-top: 40px;
  text-align: center;
}

.nav3 a {
  font-weight: 400;
  color: #32174D;
  font-size: 20px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.nav3 a:link {
  text-decoration:none;
}

.nav4 {
  padding-top: 40px;
  text-align: center;
}

.nav4 a {
  font-weight: 400;
  color: #32174D;
  font-size: 20px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.nav4 a:link {
  text-decoration:none;
}

.nav5 {
  padding-right: 50px;
  padding-top: 40px;
  text-align: center;
}

.nav5 a {
  font-weight: 400;
  color: #32174D;
  font-size: 20px;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.nav5 a:link {
  text-decoration:none;
}

#wrapper div {
}

.arrow:before {
  content: "";
  position: absolute;
  left: 50%;
}

.arrow {
  position: absolute;
  left: 49vw;
  width: 3vh;
  height: 3vh;
  top: 90vh;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: .23vh #32174D solid;
  border-bottom: .23vh #32174D solid;
}

.arrow2 {
  position: absolute;
  left: 50vw;
  width: 3vh;
  height: 3vh;
  top: 190%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: .23vh #32174D solid;
  border-bottom: .23vh #32174D solid;
}

.arrow3 {
  position: absolute;
  left: 50vw;
  width: 3vh;
  height: 3vh;
  top: 290%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: .23vh #32174D solid;
  border-bottom: .23vh #32174D solid;
}

.arrow4 {
  position: absolute;
  left: 50vw;
  width: 3vh;
  height: 3vh;
  top: 390%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: .23vh #32174D solid;
  border-bottom: .23vh #32174D solid;
}

.arrow5 {
  position: absolute;
  left: 50vw;
  width: 3vh;
  height: 3vh;
  top: 490%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: .23vh #32174D solid;
  border-bottom: .23vh #32174D solid;
}

#section {
  width: 100vw; 
  height: 100vh;
  background-color: #D5CBCA;
}

.flower img {
  position: absolute;
  top: 10vh;
  right: 5vw;
  width: 46vw;
}

.intro {
  position: absolute;
  top: 25vh;
  width: 100%;
  font-style: italic;
  font-size: 11vw;
  font-weight: 400;
  color: #32174D;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.intro p {
  position: relative;
  width: 100%;
  top: 1vh;
  font-style: normal;
  font-size: 2.5vh;
  line-height: 170%;
  font-weight: 400;
  text-align: center;
  font-family: 'Droid Serif', serif;
}

.intro a {
  position: relative;
  width: 100%;
  bottom: 10vh;
  border: solid .2vh;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  font-style: normal;
  color: #32174D;
  font-size: 1.7vh;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.intro a:link {
  text-decoration:none;
}

.navcode a {
  position: absolute;
  top:100vh;
}

#section1 {
  width: 100vw; 
  height: 100vh;
  background-color: #E9EAEE;
}

.getting-there {
  position: absolute;
  top: 115vh;
  width: 100%;
  font-size: 3vh;
  font-weight: 400;
  color: #32174D;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.getting-there p {
  position: relative;
  width: 100%;
  top: 4.5vh;
  font-style: normal;
  font-size: 2.5vh;
  line-height: 170%;
  font-weight: 400;
  text-align: center;
  font-family: 'Droid Serif', serif;
}

.getting-there a {
  position: relative;
  width: 100%;
  top: 11vh;
  border: solid .2vh;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #D5CBCA;
  font-size: 1.7vh;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.getting-there a:link {
  text-decoration:none;
}

.navcode2 a {
  position: absolute;
  top:200vh;
}

#section2 {
  width: 100vw; 
  height: 100vh;
  background-color: #FBFBFB;
}

.lodging {
  position: absolute;
  top: 215vh;
  width: 100%;
  font-style: normal;
  font-size: 3vh;
  font-weight: 400;
  color: #32174D;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.container2 {
  display: flex;
  justify-content: space-between;
}

.container2 div {
  width: 100vw;
  height: 100vh;
}

.lodging-p-1 {
  padding-top: 38vh;
  padding-left: 6vw;
  max-width: 25vw;
  text-align: center;
}

.lodging-p-1 p {
  font-weight: 400;
  line-height: 170%;
  max-width: 25vw;
  color: #32174D;
  font-size: 2.5vh;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.lodging-p-1 a {
  position: relative;
  top: 7.5vh;
  border: solid .2vh;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #D5CBCA;
  font-size: 1.7vh;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.lodging-p-1 a:link {
  text-decoration:none;
}

.lodging-p-2 {
  padding-top: 38vh;
  max-width: 25vw;
  text-align: center;
}

.lodging-p-2 p {
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.5vh;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.lodging-p-2 a {
  position: relative;
  top:7.5vh;
  border: solid .2vh;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #32174D;
  font-size: 1.7vh;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.lodging-p-2 a:link {
  text-decoration:none;
}

.lodging-p-2 a:hover {
  border: none;
  text-decoration: line-through;
}

.lodging-p-3 {
  padding-top: 38vh;
  padding-right: 6vw;
  max-width: 25vw;
  text-align: center;
}

.lodging-p-3 p {
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.5vh;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.lodging-p-3 a {
  position: relative;
  top: 7.5vh;
  border: solid .2vh;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #D5CBCA;
  font-size: 1.7vh;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.lodging-p-3 a:link {
  text-decoration:none;
}

.navcode3 a {
  position: absolute;
  top:300vh;
}

#section3 {
  width: 100vw; 
  height: 100vh;
  background-color: #DFEBDF;
}

.registry {
  position: absolute;
  top: 315vh;
  width: 100%;
  font-style: normal;
  font-size: 3vh;
  font-weight: 400;
  color: #32174D;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.container3 {
  display: flex;
  justify-content: space-between;
}

.container3 div {
  width: 100vw;
  height: 100vh;
}

.registry-p-1 {
  padding-top: 38vh;
  padding-left: 6vw;
  max-width: 25vw;
  text-align: center;
}

.registry-p-1 p {
  font-weight: 400;
  line-height: 170%;
  max-width: 25vw;
  color: #32174D;
  font-size: 2.5vh;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.registry-p-1 a {
  position: relative;
  top: 7.5vh;
  border: solid .2vh;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #D5CBCA;
  font-size: 1.7vh;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.registry-p-1 a:link {
  text-decoration:none;
}

.registry-p-2 {
  padding-top: 38vh;
  max-width: 25vw;
  text-align: center;
}

.registry-p-2 p {
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.5vh;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.registry-p-2 a {
  position: relative;
  top: 7.5vh;
  border: solid .2vh;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #D5CBCA;
  font-size: 1.7vh;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.registry-p-2 a:link {
  text-decoration:none;
}

.registry-p-3 {
  padding-top: 38vh;
  padding-right: 6vw;
  max-width: 25vw;
  text-align: center;
}

.registry-p-3 p {
  font-weight: 400;
  line-height: 170%;
  color: #32174D;
  font-size: 2.5vh;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.registry-p-3 a {
  position: relative;
  top: 7.5vh;
  border: solid .2vh;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #D5CBCA;
  font-size: 1.7vh;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.registry-p-3 a:link {
  text-decoration:none;
}

.navcode4 a {
  position: absolute;
  top:400vh;
}

#section4 {
  width: 100vw; 
  height: 100vh;
  background-color: #FFFFFF;
}

.soon {
  position: absolute;
  top: 420%;
  width: 100%;
  font-style: normal;
  font-size: 3vh;
  font-weight: 400;
  color: #D3AF35;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.soon p {
  position: relative;
  width: 100%;
  top: 4.5vh;
  font-style: normal;
  font-size: 2.5vh;
  line-height: 170%;
  font-weight: 400;
  color: #32174D;
  text-align: center;
  font-family: 'Droid Serif', serif;
}

.soon a {
  position: relative;
  width: 100%;
  top: 11vh;
  border: solid .2vh;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #D5CBCA;
  font-size: 1.7vh;
  font-family: 'Numans', sans-serif;
  text-align: center;
}

.soon a:link {
  text-decoration:none;
}

.soon img {
	width: 101px;
	height: 175px;
	background: url('http://payload308.cargocollective.com/1/6/208850/8471571/Bonnie-Ani-2-04.png') bottom;
	text-indent: -99999px;
}

.soon img:hover {
	background-position: 0 0;
}