* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: #cdd2ee;
}

.container div {
  width: 100vw;
  height: 2vh;
}

.nav {
  position: relative;
  padding-top: 40px;
  padding-left: 50px;
  text-align: center;
}

.nav a {
  font-weight: 400;
  color: blue;
  font-size: 20px;
  font-family: "Krona One", sans-serif;
  text-align: center;
}

.nav a:link {
  text-decoration: none;
}

.nav2 {
  padding-top: 40px;
  text-align: center;
}

.nav2 a {
  font-weight: 400;
  color: blue;
  font-size: 20px;
  font-family: "Krona One", sans-serif;
  text-align: center;
}

.nav2 a:link {
  text-decoration: none;
}

.nav3 {
  padding-top: 40px;
  text-align: center;
}

.nav3 a {
  font-weight: 400;
  color: blue;
  font-size: 20px;
  font-family: "Krona One", sans-serif;
  text-align: center;
}

.nav3 a:link {
  text-decoration: none;
}

.nav4 {
  padding-top: 40px;
  text-align: center;
}

.nav4 a {
  font-weight: 400;
  color: blue;
  font-size: 20px;
  font-family: "Krona One", sans-serif;
  text-align: center;
}

.nav4 a:link {
  text-decoration: none;
}

#wrapper div {
}

.arrow:before {
  content: "";
  position: absolute;
  left: 50%;
}

.arrow {
  position: absolute;
  left: 49vw;
  width: 3vh;
  height: 3vh;
  top: 90vh;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 0.23vh blue solid;
  border-bottom: 0.23vh blue solid;
}

.arrow2 {
  position: absolute;
  left: 50vw;
  width: 3vh;
  height: 3vh;
  top: 190%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 0.23vh blue solid;
  border-bottom: 0.23vh blue solid;
}

.arrow4 {
  position: absolute;
  left: 50vw;
  width: 3vh;
  height: 3vh;
  top: 290%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 0.23vh blue solid;
  border-bottom: 0.23vh blue solid;
}

.arrow5 {
  position: absolute;
  left: 50vw;
  width: 3vh;
  height: 3vh;
  top: 390%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 0.23vh blue solid;
  border-bottom: 0.23vh blue solid;
}

#section {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: -webkit-linear-gradient(
    top,
    rgba(205, 211, 237, 1) 90%,
    rgba(205, 211, 237, 0) 100%
  );
}

.intro {
  display: inline-block;
  position: relative;
  top: 21vh;
  width: 100%;
  max-width: 1080px;
}

.intro font {
  position: relative;
  font-size: 22vh;
  font-weight: 400;
  font-family: "Krona One", sans-serif;
  background: -webkit-linear-gradient(
    top,
    rgba(203, 238, 236, 1) 45%,
    rgba(203, 238, 236, 0) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro p {
  position: relative;
  width: 100%;
  top: 5vh;
  color: #ffffff;
  font-style: normal;
  font-size: 4vh;
  line-height: 100%;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

.intro p.mobile {
  display: none;
  position: relative;
  width: 100%;
  top: 5vh;
  color: #ffffff;
  font-style: normal;
  font-size: 3vh;
  line-height: 120%;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

/* intro hover */

.navcode a {
  position: absolute;
  top: 100vh;
}

#section1 {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  text-align: center;
}

.getting-there {
  display: inline-block;
  position: relative;
  top: 15vh;
  width: 100%;
  max-width: 800px;
}

.getting-there h1 {
  position: relative;
  width: 100%;
  font-size: 5vh;
  font-weight: 400;
  font-family: "Krona One", sans-serif;
  color: blue;
}

.getting-there p {
  position: relative;
  width: 100%;
  top: 4.5vh;
  font-style: normal;
  font-size: 2.5vh;
  line-height: 170%;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

/* button styling */

.star a {
color: blue;
}

span a {
  display: inline-block;
}

.button {
  position: relative;
  top: 25vh;
}

.button1 {
  background-color: #000000;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #ffffff;
  font-size: 4vh;
  font-family: "Krona One", sans-serif;
}

.getting-there a:link {
  text-decoration: none;
}

.navcode2 a {
  position: absolute;
  top: 200vh;
}

#section2 {
  width: 100%;
  height: 100%;
  background-color: #cdd2ee;
  overflow: hidden;
  text-align: center;
}

#section2::after {
  content: "";
  display: block;
  clear: both;
}

.lodging {
  display: inline-block;
  position: relative;
  top: 15vh;
  width: 100%;
  max-width: 1080px;
}

.lodging h1 {
  position: relative;
  width: 100%;
  font-size: 5vh;
  font-weight: 400;
  font-family: "Krona One", sans-serif;
  color: blue;
}

/* fake site start */

img.content1, img.content2, img.content3, img.content4, img.content5, img.content6  {
  width: 100%;
  padding-bottom: 50px;
}

img.content2 {
  width: 100%;
  padding-bottom: 50px;
}

img.content3 {
  width: 100%;
  padding-bottom: 50px;
}

img.content4 {
  width: 100%;
  padding-bottom: 50px;
}

img.content5 {
  width: 100%;
  padding-bottom: 50px;
}

.container2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 500px;
}

.container2 div {
  display: inline-block;
  position: relative;
  top: 20vh;
  width: 100%;
}

.lodging-p-x {
  max-width: 450px;
  margin-top: 100px;
  padding: 30px 30px 50px 30px;
  text-align: center;
  opacity: 0;
}

.lodging-p-x p {
  font-weight: 100;
  line-height: 170%;
  letter-spacing: 3px;
  color: #ffffff;
  font-size: 2.2vh;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.lodging-p-x a {
  position: relative;
  top: 1vh;
  background: -webkit-linear-gradient(
    top,
    rgba(203, 238, 236, 1) 50%,
    rgba(203, 238, 236, 0) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
  color: #ffffff;
  font-size: 3vh;
  font-family: "Krona One", sans-serif;
  text-align: center;
  text-decoration: none;
}

.lodging-p-x a:hover {
  background: -webkit-linear-gradient(
    top,
    rgba(203, 238, 236, 1) 40%,
    rgba(203, 238, 236, 1) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* fake site hover */

.content3,
.content4 {
  width: 100%;
  height: auto;
  -webkit-filter: blur(25px);
  -moz-filter: all 0.25s ease;
  -o-filter: all 0.25s ease;
  -ms-filter: all 0.25s ease;
  filter: blur(25px);
}

.content3:hover,
.content4:hover {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
  filter: blur(0px);
}

.navcode3 a {
  position: absolute;
  top: 300vh;
}

#section3 {
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(
    top,
    rgba(205, 211, 237, 0) 90%,
    rgba(205, 211, 237, 1) 100%
  );
}

.registry {
  position: relative;
  top: 15vh;
  width: 100%;
  text-align: center;
}

.registry h1 {
  position: relative;
  width: 100%;
  font-size: 5vh;
  font-weight: 400;
  font-family: "Krona One", sans-serif;
  color: blue;
}

.container3 {
  display: flex;
  justify-content: space-between;
}

.container3 div {
  width: 100vw;
  height: 100vh;
}

.registry-p-1 {
  padding-top: 20vh;
  padding-left: 6vw;
  max-width: 25vw;
  text-align: center;
}

.registry-p-1 p {
  font-weight: 100;
  line-height: 190%;
  max-width: 25vw;
  color: #32174d;
  font-size: 2.5vh;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.registry-p-2 {
  padding-top: 20vh;
  max-width: 25vw;
  text-align: center;
}

.registry-p-2 p {
  font-weight: 100;
  line-height: 190%;
  color: #32174d;
  font-size: 2.5vh;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.registry-p-3 {
  padding-top: 20vh;
  padding-right: 6vw;
  max-width: 25vw;
  text-align: center;
}

.registry-p-3 p {
  font-weight: 100;
  line-height: 190%;
  color: #32174d;
  font-size: 2.5vh;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.navcode4 a {
  position: absolute;
  top: 400vh;
}

.navcode5 a {
  position: absolute;
  top: 400vh;
}

#sectionx {
  width: 100vw;
  height: 100vh;
  background-color: #cdd2ee;
  text-align: center;
}

.navcode6 a {
  position: absolute;
  top: 0vh;
}

.navcode7 a {
  position: absolute;
  top: 300vh;
}


/* in-progress media query */

@media only screen and (max-width: 1020px) {
  #section1, #section2, #section3, div.container, font, .intro p, span.arrow {
    display: none;
  }
  
  #sectionx {
    background: #ffffff;
  }
  
  .intro {
    top: 5vh;
  }
  
  .intro p.mobile {
    display: block;
    top: 4vh;
  }

}